* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* DIFFERENT SCROLLBAR FOR TEST PURPOSES */

/* html, body {
    overflow-y: scroll;
    scrollbar-width: none;
  }
  
  body::-webkit-scrollbar {
    width: 0;
    height: 0;
  } */

  ::-webkit-scrollbar {
    height: 8px;
    width: 0.6vw;
    /* border: 10px solid #fff; */
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 0;
    background: #fff;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #f26422a9;
  }

  ::-webkit-scrollbar-thumb:hover {
      background: #f26522;
      transition: all 1s ease-in-out;
  }

/* SCROLLBAR DIFFERENCE CODE ENDS */

.body {
    width: 99.45vw;
}

.hero-section {
    background-image: url('./images/hero-bg-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    width: 99.45vw;
    height: 100vh;
}

.overlay {
    width: 99.45vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 38.5px;
}

svg {
    width: 50px;
    height: 50px;
}

svg * {
    width: 100%;
    height: 100%;
}

.search-svg {
    width: 40px;
    height: 40px;
}

.search-svg * {
    width: 100%;
    height: 100%;
}

.navbar {
    padding-top: 18px;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    gap: 60px;
    list-style: none;
}

.navbar ul li {
    display: flex;
    flex-direction: column;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
}

.navbar ul li a:hover {
    color: #f26522;
    transition: all 0.2s ease-in-out;
}

.navbar ul li a:hover + .bottom-line {
    /* transition: all 0.2s ease-in-out; */
    margin-top: 10px;
    width: 100%;
    height: 3px;
    background-color: #f26522;
}

.search-button:hover {
    cursor: pointer;
}

.company-name {
    margin-top: 100px;
    color: #fff;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.company-name h1 {
    font-size: 6.5rem;
}

.chatterjee {
    /* position: absolute;
    top: 40%;
    left: 20%; */
    /* padding-right: 60px; */
    /* position: absolute;
    left: 17vw;
    top: 30vh; */
    /* position: relative;
    right: -17rem;
    top: -2.4375rem; */
    position: relative;
    top: -2rem;
    left: 0.25rem;
    font-weight: 200;
}

.company-name .slash {
    background-color: #fff;
    /* background: linear-gradient(#f26522, #fff); */
    width: 5px;
    height: 175px;
    transform: rotate(15deg);
}

.musicals {
    /* position: absolute;
    top: 50vh;
    left: 53vw;
    color: #f26522; */
    position: relative;
    right: 0.175rem;
    top: 3.5rem;
    color:#f26522;
    font-weight: 200;
}

.scrolling-services {
    /* min-width: 691.2px;
    max-width: 691.2px; */
    min-width: 43.2rem;
    max-width: 43.2rem;
    /* min-height: 169px;
    max-height: 169px; */
    min-height: 10.5625rem;
    max-height: 10.5625rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 73%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.scrolling {
    /* position: absolute;
    top: -800%;
    min-width: 600px;
    max-width: 600px; */
    /* position: relative;
    top: 0; */
    visibility: hidden;
    position: fixed;
    top: 0;
}

.current-text {
    visibility: visible;
    animation: fadein 1s ease-in-out 0s , fadeout 1s ease-in-out 8s;
} 

.subtitle {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 20px;
}

.body-text {
    font-size: 0.8rem;
    letter-spacing: 0.5px;
    font-weight: 100;
    max-width: 45vw;
}

.scroll-bar {
    position: fixed;
    bottom: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    max-width: 40vw;
}

.circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
}

.circle:hover {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #f26522;
    animation: fadein 0.5s ease-in-out;
    cursor: pointer;
}

.active-circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #f26522;
    animation: fadein 0.5s ease-in-out;
}

/* .bottom-decoration {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
} */

.bg-explore {
    position: absolute;
    left: 50%;
    bottom: 7%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 30px;
    background-color: rgba(0, 0, 0,1);
}

.explore-now {
    /* margin: 0 auto; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    color: #f26522;
    max-width: 20vw;
    
}

.explore-now:hover {
    opacity: 0.7;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.vertical-stick {
    position: absolute;
    left: 50%;
    bottom: 0;
    /* transform: translate(-50%, 0); */
    width: 2px;
    height: 40px;
    background-color: #fff;
}

.search-bar-and-text {
    max-width: 60vw;
    margin: 6.25rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 75px;
}

.attractive-text {
    max-width: 50vw;
    font-size: 2.4rem;
    font-weight: 100;
    text-align: center;
}

.emphasized-text {
    color: #f26522;
    font-weight: 300;
}

.search {
    max-width: 60vw;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-button-bottom {
    opacity: 1;
}

.search form {
    width: 100%;
}

.search input {
    border: 0px;
    font-size: 1.2rem;
    outline: none;
    width: 100%;
}

.search input::placeholder {
    opacity: 0.4;
}

.popular-products {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    margin-bottom: 50px;
    /* background-color: rgba(238, 238, 238, 0.5); */
    /* max-width: 1500px; */
    /* width: 100%; */
}

.heading {
    margin-top: 50px;
    color: #fff;
    background-color: #000;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    min-height: 15vh;
}

.heading-text {
    font-weight: 100;
    font-size: 4rem;
    letter-spacing: 1rem;
}

.products {
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
}

.card {
    box-shadow: 0 0 2px #000;
}

.card img {
    width: 20.3125rem;
    height: 23.125rem;
}

.card:hover {
    transition: all 0.1s ease-in-out;
    /* box-shadow: 0 0 20px #f26522; */
    box-shadow: 0 0 30px #000;
    cursor: pointer;
    text-decoration: underline;
}

/* .card img {
    /* border-radius: 11px; */
    /* box-shadow: 0 0 20px#000000; */
    /* margin-bottom: 15px; */
/* } */

/* .card img:hover {
    /* width: 260px;
    height: 310px; */
    /* box-shadow: 20px 10px #f26522; */
    /* opacity: 0.75; */
    /* filter: brightness(80%); */
    /*cursor: pointer;
   
    
} */

.product-info {
    width: 20.3125rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    /* background-color: #fff;
    border-radius: 11px;
    border: 2px solid #000; */
}

.name-and-price {
    width: 100%;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 300;
}

.price {
    font-weight: 500;
}

/* .add-to-cart {
    width: 50px;
    font-size: 0.75rem;
    text-align: center;
} */

/* .bg-shop {
    margin-top: 60px;
    width: 150px;
    height: 50px;
    background-color: rgba(0, 0, 0,1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
} */

.shop-now {
    margin-top: 60px;
    font-size: 1rem;
    color: #000;
    max-width: 20vw;
    font-weight: 500;
    margin-bottom: 50px;
}

.shop-now:hover {
    cursor: pointer;
    color:#f26522;
    /* font-weight: bolder; */
    /* filter: brightness(80%); */
    transition: all 0.2s ease-in-out;
}

.motivational-quote {
    display: flex;
    margin-bottom: 200px;
}

.motivational-quote .image {
    background-image: url("./images/motivation-4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 50vw;
    height: 15vw;
}

.motivational-quote .quote {
    width: 49.45vw;
    background-color: #100F0B;
    height: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color: #fff;
    
}

.motivational-quote .quote .text {
    /* font-family: "Lobster Two"; */
    font-size: 3rem;
}

.motivational-quote .quote .by {
    /* font-family: "Lobster Two"; */
    margin-right: 15px;
    font-size: 1rem;
}

.our-events {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2e2c23;
    width: 99.45vw;
    /* padding-bottom: 40vh; */
    height: 125vh;
    margin-bottom: 100px;
}

.event-header-bg {
    background-color: #fff4c5;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}

.event-head-text {
    font-weight: 100;
    font-size: 5rem;
    letter-spacing: 0.5rem;
    color: #2e2c23;
}

.images {
    margin-top: 100px;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.image-bg {
    /* display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px; */
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

    display: grid;
    grid-template-columns: repeat(3, 18.75rem);
    gap: 10px;
}

/* .image-bg img {
    width: 18.75rem;
    height: 12.1875rem;
} */

.tall-image {
    grid-column: 3 / 4;
    grid-row: 1 / 4;
}

.wide-image {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
}

.footer {
    margin-top: 100px;
    width: 99.45vw;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-text {
    width: 30vw;
    font-size: 2rem;
    font-weight: 100;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 20vw;
}

@keyframes fadein {
    0% {
        opacity: 0
    }
    10% {
        opacity: 0.1
    }
    20% {
        opacity: 0.2
    }
    30% {
        opacity: 0.3
    }
    40% {
        opacity: 0.4
    }
    50% {
        opacity: 0.5
    }
    60% {
        opacity: 0.6
    }
    70% {
        opacity: 0.7
    }
    80% {
        opacity: 0.8
    }
    90% {
        opacity: 0.9
    }
    100% {
        opacity: 1
    }
}

@keyframes fadeout {
    0% {
        opacity: 1
    }

    10% {
        opacity: 0.9
    }

    20% {
        opacity: 0.8
    }

    30% {
        opacity: 0.7
    }

    40% {
        opacity: 0.6
    }

    50% {
        opacity: 0.5
    }

    60% {
        opacity: 0.4
    }

    70% {
        opacity: 0.3
    }

    80% {
        opacity: 0.2
    }

    90% {
        opacity: 0.1
    }

    100% {
        opacity: 0
    }
}


@media screen and (max-width: 1100px) {
    .heading-text {
        font-size: 6vw;
    }

    .card img {
        width: 17rem;
        height: 19rem;
    }

    .product-info {
        width: 17rem;
        padding: 5px;
    }

    .motivational-quote .quote .text {
        /* font-family: "Lobster Two"; */
        font-size: 2.5rem;
    }

}

@media screen and (max-width: 1000px) {
    .hero-section {
        background-color: #000;
        background-image: none;
        width: 100vw;
        height: 90vh;
    }

    header {
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
    }

    .navbar {
        display: none;
    }

    .company-name {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .chatterjee {
        top: -12rem;
        font-size: 3.5rem;
    }

    .slash {
        display: none;
    }

    .musicals {
        font-size: 3.5rem;
        top: -15rem;
    }

    .scrolling-services {
        top: 70%;
        width: 100%;
    }

    .scroll-bar {
        position: absolute;
        bottom: -15%;
    }

    .body-text {
        max-width: 70vw;
    }

    .vertical-stick {
        display: none;
    }

    .search-bar-and-text {
        max-width: 80vw;
    }

    .attractive-text {
        max-width: 80vw;
    }

    .search {
        max-width: 80vw;
    }

    .products {
        /* width: 90vw; */
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
        align-items: center;
        gap: 100px;
        margin: auto;
    }

    .motivational-quote {
        display: none;
    }

    .our-events {
        display: none;
    }

    .image-bg {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 100px;
    }

    .image-bg img {
        width: 40vw;
    }

    .tall-image {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .company-name h1 {
        font-size: 15vw;
    }
    .musicals {
        top: -12rem;
    }
    .body-text {
        max-width: 95vw;
    }

    .scroll-bar {
        max-width: 75vw;
    }

    .explore-now {
        max-width: 80vw;
    }

    .search-bar-and-text {
        max-width: 99.45vw;
    }

    .attractive-text {
        font-size: 7vw;
        max-width: 95vw;
    }

    .search {
        max-width: 90vw;
    }

    .search-button-bottom {
        width: 30px;
        height: 30px;
    }

    .search-button-bottom * {
        width: 100%;
        height: 100%;
    }

    .search input::placeholder {
        font-size: 15px;
    }

    .heading {
        min-height: 10vh;
    }

    .heading-text {
        font-size: 5.5vw;
        letter-spacing: 0.60rem;
    }

    .products {
        /* width: 90vw; */
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
        align-items: center;
        gap: 50px;
        margin: auto;
    }

    .card img {
        width: 14rem;
        height: 16rem;
    }

    .product-info {
        width: 14rem;
        padding: 5px;
    }

    .shop-now {
        max-width: 50vw;
        font-weight: 300;
    }

    .footer-text {
        display: none;
    }

    .icons {
        width: 70%;
        justify-content: space-around;
    }
}